.App {
  font-family: sans-serif;
  text-align: center;
}
.App p {
  font-size: 60px;
  text-align: center;
  margin: 20px;
}
.App button {
  display: block;
  margin: 10px auto;
  background: none;
  font-size: 20px;
  padding: 10px 20px;
  border: 3px outset gainsboro;
  border-radius: 30px;
  transition: font-size 200ms;
}
.App button:hover {
  font-size: 30px;
  transition: font-size 200ms;
}
